div.clearfix
    h2.pull-left Edit Todo
    a.btn.pull-right(href='/#/todos/{{ todo.data._id }}') Back to Todo
hr

form.form-horizontal(name='editTodo')
    div.control-group
        label.control-label(for='name') Name*
        div.controls
            input#name(type='text', name='name', ng-model='todo.data.name', placeholder='name', required)
            div.text-error.small(ng-show='editTodo.name.$error.required')
                small Required field.
    div.control-group
        label.control-label(for='description') Description
        div.controls
            textarea#description(name='description', ng-model='todo.data.description', placeholder='Description')

    div.control-group
        div.controls
            button.btn(ng-click='todo.update()', ng-disabled='!editTodo.$valid') Save Todo