div.clearfix
    h2.pull-left New Note
    a.btn.pull-right(href='/#/notes') Back to index
hr

form.form-horizontal(name='newNote')
    div.control-group
        label.control-label(for='name') Name*
        div.controls
            input#name(type='text', name='name', ng-model='note.data.name', placeholder='name', required)
            div.text-error.small(ng-show='newNote.name.$error.required')
                small Required field.
    div.control-group
        label.control-label(for='description') Description
        div.controls
            textarea#description(name='description', ng-model='note.data.description', placeholder='Description')

    div.control-group
        div.controls
            button.btn(ng-click='note.create()', ng-disabled='!newNote.$valid') Create Note