<div class="clearfix">
    <h2 class="pull-left">Edit Todo</h2>
    <a href="/#/todos/{{ todo.data._id }}" class="btn pull-right">Back to Todo</a>
</div>
<hr />

<form name="editTodo" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="todo.data.name">Name*</label>
        <div class="controls">
            <input type="text" id="todo.data.name" name="name" ng-model="todo.data.name" placeholder="Name" required />
            <div class="text-error small" ng-show="editTodo.name.$error.required"><small>Required field.</small></div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="todo.data.description">Description</label>
        <div class="controls">
            <textarea id="todo.data.description" ng-model="todo.data.description" placeholder="Description"></textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button class="btn" ng-click="todo.update()" ng-disabled="!editTodo.$valid">Save Todo</button>
        </div>
    </div>
</form>
