<!-- Todo Detail -->
<div ng-hide="todo.editing">
    <div class="clearfix">
        <h2 class="pull-left">{{ todo.data.name }}</h2>

        <div class="pull-right" ng-hide="todo.editing">
            <a href="/#/todos/{{ todo.data._id }}/edit" class="btn btn-primary">Edit Todo</a>
            <button class="btn btn-danger" ng-click="todo.remove()">Delete Todo</button>
            <a href="/#/todos" class="btn">Back to index</a>
        </div>
    </div>
    <hr />

    <p ng-hide="todo.editing">{{ todo.data.description }}</p>
</div>
